.body{
    background-color: rgb(228, 229, 230); color: rgb(5, 41, 88);
  
}
.footer{
    background-color: rgb(228, 229, 230); color: rgb(5, 41, 88);
    text-align: center;
}
.header{
    background-color: rgb(228, 229, 230); color: rgb(5, 41, 88);
    text-align: center;
}